.container {
  height: 0.3rem;
  position: absolute;
  z-index: 10;
  top: 2rem;
  right: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;

  transform: translateY(0);

  .btn_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 1.14rem;

    i {
      width: 2.1rem;
      height: 2.1rem;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAkFBMVEUAAADh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHxtDgjAAAAL3RSTlMA5QXq3chj2EYT+fOzm5NtWFFMOCYbzrywgxDu07+5qY12X0EvCsJ9PCGsoDMrCeMrJ8gAAAFRSURBVDjLdZHngoIwEIQnUqV3OES67Sx5/7c7gYSAeN+/nZ3JZhOs2Pd61+f4B92WD0maFqbmhNjiaYkbYaRvtETHmjgt/GWtytVqUkguO6x4OXK06EsBNqhkdtwkHV9o5T1Gdoo7p86mqbh8Wp1hxD0y4VTSEYUntXHyizwxUVEGTwTFeGzGr0pn+MpJByDlVS0MFZPc+3uweWJVKQwJ348AoQKGJQyzJsVo77z4EQaba+cOrsOLyJgNV65lPpoamyPsWfr1odoQDmPqi48rdehHCDpLk1MPAjlCfJj9nkJHyCVnyn5oFuFUxGc6Q3QWsQBcpjWehC4w1Olp2iF5GD4vl+kKIxgWl8ZXdpxhH/qB9I5lzXQTcsWVbqjhaez+AYmrrcF8SA8wGs2kWyQPy0feomJBJnSxxgpfWvfLHJ+oskhbN3xj19pHRbF++qX4B721QKcm2aHgAAAAAElFTkSuQmCC)
        no-repeat center;
      background-size: 100% 100%;
      cursor: pointer;
    }
  }

  .btn_music {
    width: 2.1rem;
    height: 2.1rem;
    border: 1px solid #fff;
    margin-right: 1.14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;

    span {
      width: 0.084rem;
      height: 0.65rem;
      background-color: #dab67d;

      &:nth-child(2) {
        height: 1.17rem;
      }
    }
  }

  .language_select {
    position: relative;
    margin-right: 0.14rem;
    font-size: 0.15rem;
    letter-spacing: 0px;
    color: #fff;
    cursor: pointer;

    .current_lang {
    }
    .lang_list {
    }
  }

  .btn_enter {
    font-size: 1.17rem;
    line-height: 2.2rem;
    text-align: center;
    color: #fff;
    min-width: 10.6rem;
    height: 2.36rem;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
