// .main {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//   }

.slider {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  min-height: 100vh;

  .sliderContent {
    margin: 0 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }

  .sliderButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 100;
  }
}
